// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 992px) {
  article {
    ul, ol { padding-left: 2.5em; }}
}

// Baidu share
.bdsharebuttonbox {
  display: block;
  margin-bottom: 10px;
  padding-right: 2px;

  a {
    cursor: pointer;
    font-size: 1.4em;
    color: $header-bg;
    padding: 6px;

    &:hover {
      color: lighten($header-bg, 30);
    }
  }
}

article {
  > footer {
    font-family: $heading-font-family;
    color: rgba(0, 39, 59, 0.5);

    .category {
      color: rgba(0, 39, 59, 0.5);
    }

    a.category {
      color: rgba(0, 39, 59, 0.5);
      &:hover {
        color: lighten($text-color, 44);
      }
    }
  }
}

img.no-shadow {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
